<p id="notice"><%= notice %></p>

<p>
  <strong>Getstudentinfo:</strong>
  <%= @school.getstudentinfo %>
</p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @school.pincode %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
